.adminNavBarLogo img{
    width:  10rem;
   
}
.adminNavBarLogo{
    width: 10px;
}
.AdminNavBar{
    display: flex;
    align-items: center;
    padding: 0rem 1rem 0rem 0rem;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background-color:rgb(255, 255, 255);
    position: fixed;
    box-shadow: 1px 1px 10px  rgb(155, 154, 154);
    max-width: 84.5rem;
}
.adminProfile{
    width: 2.5rem;
    height: 2.5rem;
    background-color: white;
    border-radius: 50%;
    box-shadow: 1px 1px 10px  rgb(155, 154, 154);
  border: 4px solid transparent;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}